* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: var(--light-yellow);
  color: var(--gray);
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
