:root {
  /* Color */
  --gray: #545353;
  --yellow: #fcdb70;
  --light-yellow: #faf7ed;
  --dark-yellow: #c0a753;

  /* Size */
  --size-16: 16px;
  --size-20: 20px;
  --size-24: 24px;
  --size-30: 30px;
  --size-50: 50px;
}
